body{
    background-image: url(Licht_aus-Rollo_oben.png);
    background-color: rgb(202, 207, 211)
}
h1{
    font-size: 18px;
    color: #000;
    font-weight: bolder
}

/* Configures Button Color */
.tab {
    overflow: hidden;
    border: 4px solid rgb(5, 132, 236);
    background-color: #02e3f3;
  }
  
  /* Configures the Style of Buttons*/
  .tab button {
    background-color: inherit;
    float: inherit;
    border: 60px;
    outline: 5px;
    cursor: help;
    padding: 14px 16px;
    transition: 1s;
    font-size: 18px
  }
  
  /* Configure Hover Color */
  .tab button:hover {
    background-color: rgb(120, 212, 148);
  }
  